[submodule "project/React-App"]
	path = project/React-App
	url = https://github.com/arocho032/CEN4010-React-App.git
[submodule "project/project/SOSDB/SOSDB"]
	path = project/project/SOSDB/SOSDB
	url = https://github.com/asanchezayra01/SOSDB.git
